<div>

</div>
<div class="list-group text-center">
                            <span class="list-group-item active" style="border-radius: 0px;">
                                <h2 class="list-group-item-heading">Best reviews</h2>
                            </span>
                            <span class="list-group-item">
                                <div class="price-circle">
                                    <span class="price-label">£59</span>
                                </div>
                                <div class="per-month-price-plan">
                                    <span>per month</span>
                                </div>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text"><b>Best product reviews on the internet</b></p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Photo reviews</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Video reviews</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Gifs & emojis</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Automated review request emails</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Analytics to show you how reviews impact your sales</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Works with <img class="img-responsive"
                                                             src="{{ url_for('static', filename='img/marketing/shopify.png') }}"
                                                             alt="Shopify" style="height: 1.3em; display:inline;"/>. Install our Best reviews plugin on your  online shop in minutes with no coding
        required</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">30 day free trial</p>
                            </span>
                            <a href="https://apps.shopify.com/opinew" style="border-radius: 0px;" class="list-group-item">
                                <span class="btn btn-default btn-lg btn-block pricing-plan-btn">Sign up for 30 day free trial</span>
                            </a>
</div>
