{% import "_macros.html" as macros %}
<div class="container" id="add-review">
  <div class="pull-right">
    {% if current_user.is_authenticated() %}
      <div class="review-author">
        <span class="person-img sprite sprite-mystery-man" data-gravatar-url="{{ current_user.image_url }}"></span>
        <p class="person-name">
          {{ current_user.name }}<br>
          <a href="/logout">Log out</a>
        </p>
      </div>
    {% else %}
      <a href="/login">Log in</a> | <a href="{{ url_for('client.register') }}">Register</a>
    {% endif %}
  </div>
  <p>What is your experience with <strong>{{ product.name }}</strong>?</p>
  <form action="{{ url_for('client.route_product_review_create', product_id=product.id) }}" method="post">
    {{ review_form.hidden_tag() }}
    {{ review_form.review_request_id() }}
    {{ review_form.review_request_token() }}
    <fieldset class="rating">
      {% for subfield in review_form.star_rating|reverse %}
        {{ subfield() }}
        {{ subfield.label }}
      {% endfor %}
    </fieldset>
    <div id="review-body-wrapper">
      {% if not current_user.is_authenticated() %}
        <div>
          {{ review_form.name.label(class="left-label") }}
          {{ review_form.name(class="right-input") }}
        </div>
        <div>
          {{ review_form.email.label(class="left-label") }}
          {{ review_form.email(class="right-input") }}
        </div>
        <div {% if not request.form.email %}hidden{% endif %}>
          {{ review_form.password.label(class="left-label") }}
          {{ review_form.password(class="right-input") }}
        </div>
      {% endif %}
      {{ review_form.body(placeholder="Your review...", id="review-body") }}
      {{ review_form.image_url() }}
      <input type="file" name="image" id="review-image" class="inputfile"/>
      <label for="review-image" class="btn btn-default">Add a photo <span class="sprite sprite-add-photo"></span></label>
    </div>
    <button type="submit" class="btn-primary pull-right">Post</button>
    <div class="clearfix"></div>
  </form>
</div>