<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#tab-giphy" aria-controls="tab-giphy" role="tab" data-toggle="tab">Giphy</a>
    </li>

    <li role="presentation">
        <a href="#tab-upload-image" aria-controls="tab-upload-image" role="tab" data-toggle="tab">Upload
            image</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-giphy">
      {% include "forms/review_giphy.html" %}
    </div>
  {% if not g.mobile %}
      <div role="tabpanel" class="tab-pane" id="tab-upload-image">
        {% include "forms/review_image_upload.html" %}
      </div>
  {% endif %}
</div>