<div class="container review-container">
  {% if review.star_rating %}
    <span class="rating-review-body">
        <span class="star-rating {% if review.star_rating >= 1 %}star-full{% endif %}">☆</span>
        <span class="star-rating {% if review.star_rating >= 2 %}star-full{% endif %}">☆</span>
        <span class="star-rating {% if review.star_rating >= 3 %}star-full{% endif %}">☆</span>
        <span class="star-rating {% if review.star_rating >= 4 %}star-full{% endif %}">☆</span>
        <span class="star-rating {% if review.star_rating == 5 %}star-full{% endif %}">☆</span>
        <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
          <span itemprop="ratingValue">{{ review.star_rating }}</span> / <span itemprop="bestRating">5</span>
        </span>
      </span>
  {% endif %}
  <em class="review-date pull-right"> —
    <meta itemprop="datePublished" content="review.created_ts.strftime('%Y-%m-%d')">
    {{ review.created_ts.strftime('%d %b, %Y') }}
  </em>
  <blockquote>
    <p class="review-short" hidden>
      {{ review.body[:g.constants.MAX_BODY_LENGTH]|urlize(g.constants.DEFAULT_LINK_SHORT_SIZE, target='_blank') }}
      {% if review.body|length > g.constants.MAX_BODY_LENGTH %}<span class="show-more">...</span>{% endif %}
    </p>
    <p class="review-full" itemprop="reviewBody">
      {{ review.body|urlize(g.constants.DEFAULT_LINK_SHORT_SIZE, target='_blank') }}
    </p>
  </blockquote>
  {% if review.youtube_video %}
    <div class="review-youtube-container">
      <iframe class="review-youtube" src="{{ review.youtube_video|embded_youtube }}" frameborder="0"
              allowfullscreen></iframe>
    </div>
  {% elif review.image_url %}
    <div class="review-image-container">
      <img class="review-image"
           src="{{ review.image_url|resize('600x312') if review.image_url and g.config.RESIZE_URL in review.image_url else review.image_url }}"
           alt="{{ review.product.name }} image review by {{ review.user.name }}"/>
    </div>
  {% endif %}
  <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="review-author">
    <span class="person-img sprite sprite-mystery-man"
          data-gravatar-url="{{ review.user_image_url }}"></span>
    <p class="person-name" itemprop="name">
      {{ review.user_name }}<br>
      {% if review.verified_review %}
        <span class="success">verified review</span>
      {% elif review.by_shop_owner %}
        <span>by shop owner</span>
      {% endif %}
    </p>
  </div>
  <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="Opinew">
  </span>
  <div class="clearfix"></div>
  <div class="review-interactions">
    <hr>
    <form method="post" action="{{ url_for('client.route_review_share', review_id=review.id) }}"
          class="form-interaction">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button type="submit" title="Share" class="btn-interaction btn-share">
        <span class="sprite sprite-share"></span>
        <span>{{ review.shares|length }}</span>
      </button>
    </form>
    <form method="post" action="{{ url_for('client.route_review_like', review_id=review.id) }}"
          class="form-interaction">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button type="submit" title="Helpful"
              class="btn-interaction btn-like {% if review.is_liked_by_current_user %}success{% endif %}">
        <span class="sprite sprite-thumb-up"></span>
        <span>{{ review.likes|length }}</span>
      </button>
    </form>
    <form method="post" action="{{ url_for('client.route_review_report', review_id=review.id) }}"
          class="form-interaction">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button type="submit" title="Report"
              class="btn-interaction btn-report {% if review.is_reported_by_current_user %}danger{% endif %}">
        <span class="sprite sprite-flag"></span>
        <span>{{ review.likes|length }}</span>
      </button>
    </form>
  </div>
</div>