{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="well alert alert-danger" style="position:relative; top: 20%;">
                    <h1>500 - Internal Server Error</h1>

                    <p class="text-muted">In other words - it was our fault, sorry. Opinew is still in early beta and we
                        are working hard to
                        make it happen. If you want to express your opinew, <a href="mailto:team@opinew.com">write
                            us</a>.</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}