{% include "snippets/colors_bar.html" %}
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 column">
        <a class="btn btn-footer rackspace-logo" href="http://rackspace.com" target="_blank">
          <img alt="powered by rackspace" class="img-responsive"
               src="{{ url_for('static', filename='img/powered_by_rackspace.png') }}">
        </a>
        <a class="btn btn-footer rackspace-logo" href="http://www.entrepreneurial-spark.com/" target="_blank">
          <img alt="powered by entrepreneurial spark" class="img-responsive"
               src="{{ url_for('static', filename='img/powered_by_espark.png') }}">
        </a>
      </div>
      <div class="col-sm-6 col-md-3 column">
        <h4>Follow Us</h4>
        <ul class="nav">
          <li><a target="_blank" href="http://twitter.com/opinew">Twitter</a></li>
          <li><a target="_blank" href="https://www.facebook.com/opinewdotcom">Facebook</a></li>
          <li><a target="_blank" href="https://plus.google.com/+Opinew">Google+</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 column">
        <h4>Contact Us</h4>
        <ul class="nav">
          <li><a href="mailto:team@opinew.com">Email customer support</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 column">
        <h4>Legal</h4>
        <ul class="nav">
          <li><a href="{{ url_for('client.privacy_policy') }}">Privacy Policy</a></li>
          <li><a href="{{ url_for('client.terms_of_use') }}">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
    <!--/row-->
    <br>

    <div class="row">
      <p>© 2015 Opinew Ltd, Caledonia House, Lawmoor Street, Glasgow, G5 0US</p>
    </div>
  </div>
</footer>