{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Frequently Asked Questions</h1>

                <h2>Opinew for reviewers</h2>

                <h3>What is Opinew?</h3>

                <p>Opinew is a mobile app for showing of things you have that you think are awesome or suck.</p>

                <h3>Why should I bother?</h3>

                <p>Do you own things? Clothes, a phone or a watch? You can make your items do the work for you!
                    Snapping pictures and posting your review will collect you <b>coupons</b> which you can then use
                    the very next time you shop!</p>

                <h3>Who will read my reviews?</h3>

                <p>The reviews are listed on online shops websites. Business owners are in desperate need for reviews.
                    Accidentally, buyers are too.</p>

                <p>One review goes on many websites with the same product page. You will be helping not only the shop
                    owner
                    but also thousands of buyers of this product who are not sure yet whether to buy yet or search for
                    something
                    else.
                </p>

                <h3>So how does it work?</h3>

                <p>Do you read reviews before buying something online? Yes? Turns out that most of us do.<br>
                    But also we rarely leave reviews.<br>
                    We just can't be bothered, we forget or don't know exactly what to write.</p>

                <p>With Opinew it's easy.
                <ol>
                    <li>Find something you already own.
                    <li>Snap a photo. Maybe leave a comment.
                    <li>Done.
                </ol>
                You are rewarded each time you post a review of something you own.<br>
                If you buy something new, the sooner you post a review, the more rewards you can expect!</p>

                <h3>Okay, I want the rewards, what do I do?</h3>

                <p><a class="btn btn-lg btn-primary" href="{{ url_for('client.customer_signup') }}">Install Android App</a></p>

                <h2>Opinew for business</h2>

                <h3 id="why-reviews">Why reviews?</h3>

                <p>They are pretty important for conversion these days. Look at that: </p>
                <ul>
                    <li>
                        <a href="https://econsultancy.com/press-releases/6144-marks-spencer-sees-over-400-increase-in-customer-reviews-since-launching-email-campaign">Marks
                            & Spencer sees over 400% increase in customer reviews since launching email campaign</a>
                    </li>

                    <li>
                        <a href="https://econsultancy.com/blog/64406-77-of-uk-shoppers-consult-reviews-before-buying-online-report/">77%
                            of UK shoppers consult reviews before buying online</a></li>

                    <li>
                        <a href="http://marketingland.com/survey-customers-more-frustrated-by-how-long-it-takes-to-resolve-a-customer-service-issue-than-the-resolution-38756">90%
                            Of Customers Say Buying Decisions Are Influenced By Online Reviews</a></li>

                    <li>
                        <a href="http://searchengineland.com/88-consumers-trust-online-reviews-much-personal-recommendations-195803">88%
                            Of Consumers Trust Online Reviews As Much As Personal Recommendations
                        </a></li>
                </ul>


                <h3>So how does it work?</h3>

                <p>When someone receives a product from your store, we send them a notification on their phone to review
                    it
                    with a coupon incentive. The whole thing is gamified - the quicker the user posts a review, the more
                    points she gets.</p>

                <p>On your side, you just put in a small piece of code on your product pages, similar to the way you put
                    facebook buttons or disqus comments.
                    We work with <a target="_blank" href="https://shopify.com">shopify</a> at the moment but we can help
                    you
                    with your
                    specific platform.</p>

                <h3>I don't want sh*#ty reviews</h3>

                <p>Both good and bad reviews actually help you bring up the trust of your customers. (<a
                        href="https://econsultancy.com/blog/8638-bad-reviews-improve-conversion-by-67">Bad reviews help
                    conversion by 67%</a>)
                    But of course, the
                    website is yours and no one likes cr@p. You have full control on moderating the reviews.</p>

                <h3>I don't have time to moderate</h3>

                <p>You can switch on our automatic computer magic do that for you.
                </p>

                <h3>How much is it?</h3>

                <p>It's <b>free</b> for lifetime for you if you sign up with us until 1st of November.</p>
                <a class="btn btn-lg btn-primary" href="{{ url_for('client.customer_signup') }}">Sign up</a>
            </div>
        </div>
    </div>
    <div class="spacer"></div>


{% endblock %}