{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Frequently Asked Questions</h1>

                <h2>Opinew for business</h2>

                <h3 id="why-reviews">Why reviews?</h3>

                <p>They are pretty important for conversion these days. Look at that: </p>
                <ul>
                    <li>
                        <a target="_blank" href="https://econsultancy.com/press-releases/6144-marks-spencer-sees-over-400-increase-in-customer-reviews-since-launching-email-campaign">Marks
                            & Spencer sees over 400% increase in customer reviews since launching email campaign</a>
                    </li>

                    <li>
                        <a target="_blank" href="https://econsultancy.com/blog/64406-77-of-uk-shoppers-consult-reviews-before-buying-online-report/">77%
                            of UK shoppers consult reviews before buying online</a></li>

                    <li>
                        <a target="_blank" href="http://marketingland.com/survey-customers-more-frustrated-by-how-long-it-takes-to-resolve-a-customer-service-issue-than-the-resolution-38756">90%
                            Of Customers Say Buying Decisions Are Influenced By Online Reviews</a></li>

                    <li>
                        <a href="http://searchengineland.com/88-consumers-trust-online-reviews-much-personal-recommendations-195803">88%
                            Of Consumers Trust Online Reviews As Much As Personal Recommendations
                        </a></li>
                </ul>


                <h3>So how does it work?</h3>

                <p>On your side, you just put in a small piece of code on your product pages, similar to the way you put
                    facebook sharing buttons.
                    Currently we are available on the Shopify platform.</p>

                <p>When someone receives a product from your store, we send them an email asking to write a review.</p>

                <a class="btn btn-lg btn-primary" target="_blank" href="https://apps.shopify.com/opinew">Check us out on Shopify</a>


                <h3>I don't want negative reviews. Or do I?</h3>

                <p>Both good and bad reviews actually help you bring up the trust of your customers. <a target="_blank"
                        href="https://econsultancy.com/blog/8638-bad-reviews-improve-conversion-by-67">Bad reviews help
                    conversion by 67%</a>
                    </p>


                <h3>How much is it?</h3>

                <p>There is a 30 day free trial period will allow you to familiarize yourself with the system.</br>
                    You can check analytics and see how our review management system improves your sales.</br>
                    After that it's just £60 per month.</p>
                <a target="_blank" class="btn btn-lg btn-primary" href="/register?shop_owner=1">Sign up</a>
            </div>
        </div>
    </div>
    <div class="spacer"></div>


{% endblock %}