<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 column">
                <a class="btn btn-footer rackspace-logo" href="http://rackspace.com" target="_blank">
                <span>
                  <img alt="powered by rackspace"
                       src="{{ url_for('static', filename='img/powered_by_rackspace.png') }}">
                </span>
                </a>
            </div>
            <div class="col-sm-6 col-md-3 column">
                <h4>Follow Us</h4>
                <ul class="nav">
                    <li><a href="http://twitter.com/opinew">Twitter</a></li>
                    <li><a href="https://www.facebook.com/opinewdotcom">Facebook</a></li>
                    <li><a href="https://plus.google.com/+Opinew">Google+</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 column">
                <h4>Contact Us</h4>
                <ul class="nav">
                    <li><a href="mailto:team@opinew.com">Email</a></li>
                    <li><a href="{{ url_for('.support') }}">Support</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 column">
                <h4>Customer Service</h4>
                <ul class="nav">
                    <li><a href="{{ url_for('.faq') }}">FAQ</a></li>
                    <li><a href="{{ url_for('.about_us') }}">About Us</a></li>
                    <li><a href="{{ url_for('.privacy_policy') }}">Privacy Policy</a></li>
                    <li><a href="{{ url_for('.terms_of_use') }}">Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
        <!--/row-->
        <br>

        <div class="row">
            <p>© 2015 Opinew Ltd, Caledonia House, Lawmoor Street, Glasgow, G5 0US</p>
        </div>
    </div>
</footer>