{% extends "layout.html" %}
{% block style %}
  <link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
  <style>
    .intro-header {
      background: url({{ url_for('static', filename='img/marketing/stock_header.jpg') }}) no-repeat center center;
      background-size: cover;
    }
  </style>
{% endblock %}
{% block content %}
  <!-- Header -->
  <a name="about"></a>
  <div class="intro-header">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>{{ g.s.OPINEW }}</h1>
            <h3>{{ g.s.OPINEW_MOTO }}</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a href="{{ url_for('security.register', shop_owner=1) }}" class="btn btn-primary btn-lg"><i
                    class="fa fa-github fa-fw"></i> <span class="network-name">{{ gettext('Start now') }}</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

  </div>
  <!-- /.intro-header -->

  <!-- Page Content -->

  <a name="features"></a>
  <div class="content-section-b">

    <div class="container">
      <div class="row text-center">
        <a target="_blank" class="btn btn-lg btn-success" href="https://apps.shopify.com/opinew">
          <h3>
            {{ gettext('Have a shop running on') }}<br>
            <img class="img-responsive marketing-img-shopify"
                 src="{{ url_for('static', filename='img/marketing/shopify.png') }}"
                 alt="Shopify"/>?
          </h3>
        </a>
      </div>
    </div>
  </div>
  <div class="content-section-a">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">{{ gettext("Get reviews that drive sales") }}</h2>
          <p class="lead">{{ gettext("Get better reviews for your products, driving conversions and increasing sales by <strong>20 percent</strong>. We will send automated emails to your customers to prompt them to leave a review. Then, our smart system suggests which reviews will help you and your customers the most.") }}</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img src="{{ url_for('static', filename='img/marketing/verified.jpg') }}" class="img-responsive"
               alt="{{ gettext('Opinew smart algorithms verify and authenticate the reviews') }}"/>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">{{ gettext("Enrich your reviews with photos and videos") }}</h2>
          <p class="lead">{{ gettext("Bring extra credibility to your reviews with photos and videos. Over a billion of them are posted everyday on services like Snapchat, Pinterest and Instagram.") }}</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="{{ url_for('static', filename='img/marketing/multimedia.jpg') }}"
               alt="{{ gettext('Opinew reviews gives you rich multimedia content') }}">

        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-b -->

  <div class="content-section-a">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">{{ gettext("Works everywhere, Mobile-first") }}</h2>
          <p class="lead">{{ gettext("Our plugin works on <strong>any</strong> website, feature-rich and looks great. We understand the role of mobile in our world and we have focused on making the reviewing process on them as simple as possible.") }}
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img src="{{ url_for('static', filename='img/marketing/mobile.jpg') }}" class="img-responsive"
               alt="{{ gettext('Opinew reviews is mobile friendly and works on any website') }}"/>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->

  <a name="our-clients"></a>
  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <h2 class="text-center section-heading">{{ gettext("You deserve better reviews") }}</h2>
        <div class="text-center">
          <img src="{{ url_for('static', filename='img/opinew_logo.png') }}" class="img-responsive marketing-logo"
               alt="{{ gettext('Opinew reviews logo') }}"/>
          <p class="lead">{{ gettext("Check out our customers already benefiting from high-quality reviews") }}</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a target="_blank" href="http://www.fatburnextreme.com/product-category/training-events/#opinew-plugin">
              <img src="{{ url_for('static', filename='img/marketing/fatburn.jpg') }}" class="img-responsive"
                   alt="{{ gettext('Opinew reviews plugin on Fatburn Extreme website') }}"/>
            </a>
          </div>
          <div class="col-md-4">
            <a target="_blank" href="https://www.opinew.com/product/625">
              <img src="{{ url_for('static', filename='img/marketing/bk.jpg') }}" class="img-responsive"
                   alt="{{ gettext('Opinew reviews plugin on Beauty Kitchen website') }}"/>
            </a>
          </div>
          <div class="col-md-4">
            <a target="_blank"
               href="https://www.ragefistmafia.com/products/fight-me-ragefist-mafia-3-4-sleeve-red-white-shirt-mens?variant=15409789187#opinew-plugin">
              <img src="{{ url_for('static', filename='img/marketing/ragefist.jpg') }}" class="img-responsive"
                   alt="{{ gettext('Opinew reviews plugin on Ragefist mafia website') }}"/>
            </a>
          </div>

        </div>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
  </div>


  <a name="about-us"></a>
  <div class="content-section-a">

    <div class="container">
      <div class="row">
        <h2 class="text-center">{{ gettext('Are you ready to get more sales?') }}
          <a class="btn btn-lg btn-primary"
             href="/register?shop_owner=1">{{ gettext('Use the best reviews on the planet!') }}</a>
        </h2>
      </div>
    </div>
  </div>

  <!-- /.container -->
  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <h2 class="text-center section-heading">{{ gettext("Who we are") }}</h2>
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <img alt="Daniel photo" class="about-us-picture img-circle"
               src="{{ url_for('static', filename='img/marketing/dani.jpg') }}"/>

          <p class="text-center lead">{{ gettext("Daniel Tsvetkov") }}

          <p>{{ gettext("Daniel spent the summer of 2014 as a tech intern at Google, at the heart of
                    the Silicon Valley in Mountain View where he caught the entrepreneurial spirit of the Valley so much
                    he formed Opinew. Along with his passion for creating things, Daniel brings to Opinew his experience
                    of the web and visualizations technologies to make it friendly for anyone, anywhere.") }}
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img alt="Tomasz photo" class="about-us-picture img-circle"
               src="{{ url_for('static', filename='img/marketing/tom.jpg') }}"/>

          <p class="text-center lead">{{ gettext("Tomasz Sadowski") }}

          <p>{{ gettext("Tomasz works with the Scottish Institute for Enterprise and has an extensive
                    network of business contacts all around the world. His respect for the good software engineering
                    practices gained at Verint and experience with Big Data is helping Opinew get in shape for the big
                    days. Tomasz loves helping people find what they need which gives Opinew its guiding light.") }}
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->

  <a name="faq"></a>
  <div class="content-section-a">

    <div class="container">
      <div class="row">
        <h2 class="text-center"> {{ gettext('Help your customers discover you') }}
          <a class="btn btn-lg btn-primary"
             href="/register?shop_owner=1">{{ gettext('Use the best reviews on the planet!') }}</a>
        </h2>
      </div>
    </div>
  </div>

  <!-- /.container -->


  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <h2 class="text-center section-heading">{{ gettext("Frequently Asked Questions") }}</h2>
        {% include "marketing/faq.html" %}
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-b -->

  <a name="pricing"></a>
  <div class="content-section-a">

    <div class="container">

      <div class="row">
        {% include "marketing/not_on_shopify.html" %}

      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <h2 class="text-center section-heading">{{ gettext("Pricing") }}</h2>
        {% include "pricing_plans/pricing_plans.html" %}
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
{% endblock %}