{% extends "layout.html" %}
{% import "_macros.html" as macros %}

{% block content %}
    <section class="container-fluid" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <h1>Opinew - Photo Product Reviews</h1>

                    <p class="lead">Add a product reviews widget to any site in minutes with no coding required.</p>
                    <a href="{{ url_for('security.register') }}" class="btn btn-block btn-primary btn-lg">Get
                        started</a>
                    <small class="text-center">7 days free trial</small>
                </div>
                <div class="col-sm-6">
                    <h1 class="text-center v-center">
                        <a href="{{ url_for('.reviews') }}">
                            <img class="img-responsive img-thumbnail"
                                 src="{{ url_for('static', filename='img/marketing/reviews_shot.jpg') }}"
                                 alt="reviews screenshot"/>
                        </a>
                        <a href="{{ url_for('.reviews') }}" class="btn btn-block btn-lg btn-default">View our
                            reviews</a>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-2 text-center"><h3>Better Reviews</h3>

                            <p>Get better reviews for your products, driving conversions and increasing sales.</p>
                            <span class="glyphicon glyphicon-star glyphicon-5x"></span></div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 text-center"><h3>Based on quick snaps</h3>

                            <p>The reviews are based on pictures which users do anyway these days.</p>
                            <span class="glyphicon glyphicon-camera glyphicon-5x"></span></div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <div class="col-sm-10 text-center"><h3>Mobile first</h3>

                            <p>Our dedicated review mobile app verifies the reviews.</p>
                            <span class="glyphicon glyphicon-phone glyphicon-5x"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row"><br></div>
        </div>
        <!--/container-->
    </section>
  {% include "colors_bar.html" %}
    <section class="container-fluid" id="features">
        <h1 class="text-center">What do you get</h1>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-4" style="text-align: center">
                    <span class="glyphicon glyphicon-shopping-cart glyphicon-5x"></span>

                    <p class="lead">Increase conversions</p>

                    <p>High quality reviews can increase sales by up to <a href="#why-reviews">20 percent</a></p>
                </div>
                <div class="col-md-4" style="text-align: center">
                    <span class="glyphicon glyphicon-check glyphicon-5x"></span>

                    <p class="lead">Verified reviews</p>

                    <p>Not everyone can post a review - only after we know they've bought the product. Additionally our
                        picture-based approach from our app only tightens the process.</p>
                </div>
                <div class="col-md-4" style="text-align: center">
                    <span class="glyphicon glyphicon-envelope glyphicon-5x"></span>

                    <p class="lead">Automatic post-purchase email</p>

                    <p>We will take care of reminding the buyers of the great benefits coming with posting a review -
                        discounts
                        and helping others.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" style="text-align: center">
                    <span class="glyphicon glyphicon-random glyphicon-5x"></span>

                    <p class="lead">Works everywhere</p>

                    <p>Cross-browser and looks great on Shopify, BigCommerce, Volusion, Magento, Wordpress &
                        Facebook.</p>
                </div>
                <div class="col-md-4" style="text-align: center">
                    <span class="glyphicon glyphicon-comment glyphicon-5x"></span>

                    <p class="lead">Automatic moderation</p>

                    <p>Having too much on your head already? We will take care of profanity filters and suggesting which
                        reviews
                        will help you and your customers the most.</p>
                </div>
                <div class="col-md-4" style="text-align: center">
                    <span class="glyphicon glyphicon-picture glyphicon-5x"></span>

                    <p class="lead">Rich content</p>

                    <p>Over a billion photos are posted everyday on services like Snapchat, Pinterest and Instagram. Be
                        part
                        of
                        the revolution - pictures and videos over dull text.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="examples">
        <h2 class="text-center">Our customers love their photo product reviews</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <a href="{{ url_for('.reviews') }}">
                    <div class="col-xs-4">
                        <img class="img-responsive"
                             src="{{ url_for('static', filename='img/marketing/opinew_nexus.jpg') }}"
                             alt="reviews screenshot"/>
                    </div>
                    <div class="col-xs-8">
                        <img class="img-responsive"
                             src="{{ url_for('static', filename='img/marketing/reviews_shot.jpg') }}"
                             alt="reviews screenshot"/>
                    </div>
                </a>
                <a href="{{ url_for('.reviews') }}" class="btn btn-block btn-lg btn-info" style="clear:both">View our
                    reviews</a>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="about_us">
        <h2 class="text-center">Who we are</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <img src="{{ url_for('static',filename='img/opinew_logo.png') }}"
                     class="img-responsive center-block opinew-logo-marketing"/>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4">
                <img alt="Daniel photo" class="about-us-picture img-circle"
                     src="{{ url_for('static', filename='img/marketing/dani.jpg') }}"/>

                <p class="person-name">Daniel Tsvetkov

                <p class="justified-text">Daniel spent the summer of 2014 as a tech intern at Google, at the heart of
                    the Silicon Valley in Mountain View where he caught the entrepreneurial spirit of the Valley so much
                    he formed Opinew. Along with his passion for creating things, Daniel brings to Opinew his experience
                    of the web and visualizations technologies to make it friendly for anyone, anywhere.
            </div>
            <div class="col-sm-4">
                <img alt="Tomasz photo" class="about-us-picture img-circle"
                     src="{{ url_for('static', filename='img/marketing/tom.jpg') }}"/>

                <p class="person-name">Tomasz Sadowski

                <p class="justified-text">Tomasz works with the Scottish Institute for Enterprise and has an extensive
                    network of business contacts all around the world. His respect for the good software engineering
                    practices gained at Verint and experience with Big Data is helping Opinew get in shape for the big
                    days. Tomasz loves helping people find what they need which gives Opinew its guiding light.
            </div>
        </div>
    </section>
    <section class="container-fluid" id="pricing">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="list-group text-center">
                            <span class="list-group-item active">
                                <h2 class="list-group-item-heading">Micro</h2>
                            </span>
                            <span class="list-group-item">
                                <div class="price-circle">
                                    <span class="price-label">£9</span>
                                </div>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Photo reviews</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Video reviews</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Up to 500 reviews per month</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">&nbsp;</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">&nbsp;</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">&nbsp;</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">&nbsp;</p>
                            </span>
                            <a href="{{ url_for('security.register') }}" class="list-group-item">
                                <button class="btn btn-default btn-lg btn-block">Start trial</button>
                            </a>
                        </div>
                    </div>
                    <!--/left-->

                    <div class="col-sm-4 col-xs-12">
                        <div class="list-group text-center">
                            <span class="list-group-item active">
                                <h2 class="list-group-item-heading">Pro</h2>
                            </span>
                            <span class="list-group-item">
                                <div class="price-circle">
                                    <span class="price-label">£19</span>
                                </div>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Photo reviews</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Video reviews</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Up to 2000 reviews per month</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text"><b>Reviews commenting</b></p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text"><b>Resolved reviews section</b></p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">&nbsp;</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">&nbsp;</p>
                            </span>
                            <a href="{{ url_for('security.register') }}" class="list-group-item">
                                <button class="btn btn-default btn-lg btn-block">Start trial</button>
                            </a>
                        </div>
                    </div>
                    <!--/middle-->

                    <div class="col-sm-4 col-xs-12">
                        <div class="list-group text-center">
                            <span class="list-group-item active">
                                <h2 class="list-group-item-heading">Premium</h2>
                            </span>
                            <span class="list-group-item">
                                <div class="price-circle">
                                    <span class="price-label">£39</span>
                                </div>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Photo reviews</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Video reviews</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text">Unlimited reviews per month</p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text"><b>Reviews commenting</b></p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text"><b>Resolved reviews section</b></p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text"><b>Whitelabeling / own branding</b></p>
                            </span>
                            <span class="list-group-item">
                                <p class="list-group-item-text"><b>Questions and answers</b></p>
                            </span>
                            <a href="{{ url_for('security.register') }}" class="list-group-item">
                                <button class="btn btn-default btn-lg btn-block">Start trial</button>
                            </a>
                        </div>
                    </div>
                    <!--/right-->
                </div>
                <!--/row-->
            </div>
            <!--/container-->
        </div>
    </section>
{% endblock %}
