<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ page_description or g.constants.META_DEFAULT_DESCRIPTION }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title or g.constants.META_DEFAULT_TITLE }}</title>
  <meta name="keywords" content="reviews, photo reviews, image reviews, verified review, review plugin, review widget">
  <link id="favicon" rel="shortcut icon" href="{{ url_for('static', filename='icons/opinew32.ico') }}"/>

  {# Add to homescreen for Chrome on Android#}
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='icons/android-desktop.png') }}">

  {# Add to homescreen for Safari on iOS#}
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{ g.constants.PRODUCT_NAME }}">
  <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='icons/ios-desktop.png') }}">

  {# SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones #}
  <link rel="canonical" href="{{ g.constants.META_CANONICAL_URL }}">

  {# DNS Prefetch hints #}
  <link rel="dns-prefetch" href="maxcdn.bootstrapcdn.com">
  <link rel="dns-prefetch" href="ajax.googleapis.com">
  {# Hints for CURRENT page #}
  {# <link rel="subresource" href="{{ url_for('static', filename='js/main.min.js') }}">#}
  {# Hints for FUTURE navigation #}
  {# <link rel="prefetch" href="{{ url_for('static', filename='js/post_review.js') }}">#}
  {# Chrome prerenders this ONE page in the background for INSTANT click - ONLY GET #}
  <link rel="prerender" href="https://www.opinew.com{{ page_prerender or g.constants.META_DEFAULT_PRERENDER }}">

  {# Apple icons for different devices #}
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='icons/apple-touch-icon60.png') }}">
  {# iphone default 60x60 #}
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='icons/apple-touch-icon76.png') }}">
  {# ipad #}
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='icons/apple-touch-icon120.png') }}">
  {# iphone-retina #}
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='icons/apple-touch-icon152.png') }}">
  <link rel="apple-touch-icon" sizes="192x192"
        href="{{ url_for('static', filename='icons/apple-touch-icon192.png') }}"/>

  {# Facebook's open graph #}
  <meta property="og:url" content="{{ page_url or request.url or g.constants.META_CANONICAL_URL }}"/>
  <meta property="og:title" content="{{ page_title or g.constants.META_DEFAULT_TITLE }}"/>
  <meta property="og:description" content="{{ page_description or g.constants.META_DEFAULT_DESCRIPTION }}"/>
  <meta property="og:image" content="{{ page_image or g.constants.META_DEFAULT_IMAGE }}"/>

  {# Set the theme color on android devices #}
  <meta name="theme-color" content="{{ g.constants.COLOR_OPINEW_AQUA }}">

  {# Google plus page #}
  <link href="https://plus.google.com/+Opinew" rel="publisher"/>

  {#  Stylesheets #}
  {% if not g.mode == 'production' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" media="all"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" media="all"/>
  {% else %}
    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
  {% endif %}
  {# Place per-page styles #}
  {% block style %}{% endblock %}

  <meta name="csrf-token" content="{{ csrf_token() }}">
  {# Include Google analytics, fb code if in production mode #}
  {% if g.mode == 'production' %}
    {% include "snippets/ga.html" %}
    {% include "snippets/fb_code.html" %}
  {% endif %}
</head>
<body {% block body_attributes %}{% endblock %}>
{% include "navigation/navigation.html" %}
{% include "snippets/flashed_messages.html" %}

{# Main content of application is here #}
{% block content %}{% endblock %}
{# /End of main content #}

{% include "snippets/footer.html" %}


{% if not g.mode == 'production' %}
  <script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% else %}
  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endif %}

{# Place per-page scripts #}
{% block script %}{% endblock %}
</body>
</html>