<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page_title %}{{ page_title }}{% endif %}Opinew</title>
    <meta name="description"
          content="Opinew is the photo review platform for the new generation">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fragment" content="!">
    <meta property="og:url" content="https://opinew.com/"/>
    <meta property="og:title" content="Opinew"/>
    <meta property="og:description"
          content="Opinew is the photo review platform for the new generation"/>
    <meta property="og:image"
          content="http://opinew.com/static/opinew/img/opinew_diamond.png"/>
    <meta property="og:image"
          content="http://opinew.com/static/opinew/img/opinew_square.png"/>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='icons/opinew32.ico') }}"/>
    <link rel="apple-touch-icon"
          href="{{ url_for('static', filename='icons/apple-touch-icon192.png') }}"/>
  {#  Stylesheets #}
  {% if g.mode == 'production' %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  {% elif g.mode in ['development', 'testing'] %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
  {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"/>
  {# Place per-page styles #}
  {% block style %}{% endblock %}
</head>
<body>
    {% include "navigation.html" %}
    {% include "flashed_messages.html" %}

    {# Main content of application is here #}
    <div id="content-wrapper">
    {% block content %}{% endblock %}
    </div>
    <div class="spacer"></div>
    {% include "footer.html" %}
    {# /End of main content #}
    {% if g.mode == 'production' %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% elif g.mode in ['development', 'testing'] %}
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endif %}
    {# Place per-page scripts #}
    {% block script %}{% endblock %}
    {# Include Google analytics if in production mode #}
    {% if g.mode == 'production' %}
      {% include "ga.html" %}
    {% endif %}
</body>
</html>