{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block content %}
  <h1>Log in</h1>
<form class="action" method="post" action="{{ url_for('.login') }}">
  <input type="hidden" name="next" value="{{ request.args.next }}" />
  {{ login_form.hidden_tag() }}
  {{ macros.form_field(login_form, login_form.email) }}<br>
  {{ macros.form_field(login_form, login_form.password) }}<br>
  {{ login_form.remember_me() }} {{ login_form.remember_me.label() }}<br>
  {{ login_form.submit() }}<br>
</form>
{% endblock %}