{% if  current_user.image_url %}
  {% set user_image_url = current_user.image_url %}
{% elif current_user.email | gravatar %}
  {% set user_image_url = current_user.email | gravatar %}
{% else %}
  {% set user_image_url = url_for('media.get_user_image', filename='%s' % g.constants.DEFAULT_PROFILE_PICTURE) %}
{% endif %}
<li role="presentation" class="dropdown nav-user-profile-pic"
    style="margin-top: 10px; margin-left: 10px;  margin-right: 10px">
  <span href="#" class="dropdown-toggle mobile-menu-profile-pic" data-toggle="dropdown"
        role="button"
        aria-expanded="false">
      <img alt="{{ current_user.name }} profile picture" class="navbar-profile-pic  pull-left"
           src="{{ user_image_url }}"/>
      <span class="hidden-xs navbar-name">
          {{ current_user.name }}
        {% if current_user.is_shop_owner %}
            <br><small class="text-muted nav-shop-owner-role-label">(shop owner)</small>
        {% endif %}
      </span>
  </span>
    <ul class="dropdown-menu pull-right">
      {% if in_plugin %}
          <li><a href="{{ url_for('client.plugin_logout') }}">Log out</a></li>
      {% else %}
          <li><a href="{{ url_for('security.logout') }}">Log out</a></li>
      {% endif %}
    </ul>
</li>