<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div style="height:1000px;"></div>

<button onclick="showMe();">Show</button>
<div id="container">
  <!-- INCLUDE THIS: -->
  <div id="opinew-plugin" data-opinew-shop-id="20" data-platform-product-id="2647424707" style="width:100%;">
    <p>Opinew Product Reviews is loading from <a href="https://opinew.com/">Opinew plugin</a>...</p>
  </div>
  <script type="text/javascript" src="http://localhost:5000/static/js/widget.js"></script>
  <!-- END INCLUDE -->
</div>
<script>
  var el = document.getElementById('container');
  function showMe() {
    el.style.display = 'block'
  }
</script>
<div style="height:1000px;"></div>
</body>
</html>