{% extends "layout.html" %}
{% block content %}
  {% include "modal-lightbox.html" %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        {% include "product/description.html" %}
        {% include "product/star_summary.html" %}
{#      TODO: INCLUDE QUESTIONS #}
{#        {% include "product/interactions.html" %}#}
        {% for obj in product_objs.objs_list %}
          {% include "product/render_object.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}