{% extends "layout.html" %}
{% block content %}
  {% include "modal-lightbox.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
              {% if not current_user.is_authenticated() and not g.mobile %}
                  <div class="well">
                      <p>Business owner?</p>
                      <a href="/register?shop_owner=1" class="btn btn-block btn-primary btn-lg">Get our plugin</a>
                  </div>
              {% endif %}
            </div>
            <div class="reviews-container col-md-8 col-sm-12">
              {% set show_product_info = True %}
              {% for review in reviews %}
                {% include "review/review.html" %}
              {% endfor %}
              {% if page and page > 1 %}
                  <a class="btn btn-default btn-lg" href="{{ url_for('.reviews', page=1) }}">
                      <span class="glyphicon glyphicon-home"></span> First
                  </a>
                  <a class="btn btn-default btn-lg" href="{{ url_for('.reviews', page=page - 1) }}">
                      <span class="glyphicon glyphicon-arrow-left"></span> Previous
                  </a>
              {% endif %}
              {% if reviews|length == g.constants.REVIEWS_PER_PAGE %}
                  <a class="btn btn-default btn-lg" href="{{ url_for('.reviews', page=page + 1) }}">
                      Next <span class="glyphicon glyphicon-arrow-right"></span>
                  </a>
              {% endif %}
            </div>
        </div>
    </div>
{% endblock %}