{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <br>

            <div class="col-md-10 col-md-offset-2">
                <form action="/search">
                    <div class="input-group">
                        <input type="text" name="q" value="{{ request.args.get('q') }}"
                               placeholder="Search for companies, people or skills" class="form-control"
                               style="font-size: 2em; height: 2em;"/>
                      <span class="input-group-btn">
                        <button class="btn btn-primary" style="height: 4em; padding: 0 4em 0 4em;">
                            <span class="glyphicon glyphicon-search" style="font-size: 2em;"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2">
              {% if not current_user.is_authenticated() %}
                  <br>
                  <div class="well" style="position:fixed;">
                      <p>Business owner?</p>
                      <a href="/register?shop_owner=1" class="btn btn-block btn-primary btn-lg">Get our plugin</a>
                  </div>
              {% endif %}
            </div>
            <div class="col-md-10" id="search-results">
                <img src="static/img/ajax-loader.gif" alt="loading..."/>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $.ajax('/ajax/search', {
            data: {
                'q': "{{ request.args.get('q') }}"
            },
            success: function (r) {
                $('#search-results').html(r);
            }
        })
    </script>
{% endblock %}