{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Sign Up</h1>

            <div class="col-md-4 col-md-offset-2">

              {% if 'business_signed_up' in session %}
                  <p class="lead text-success">Thanks for your interest, we will contact you soon!</p>
              {% else %}
                  <div class="well">
                      {% include "forms/signup.html" %}
                  </div>
              {% endif %}
            </div>
            <div class="col-md-4">
                <div class="well">
                    <b>What happens next?</b>

                    <p>
                        We will notify you very soon to become part of exclusive trial!
                    </p>
                  {#                    <p>Start your free trial<br>#}
                  {#                        Add our snippet to your site<br>#}
                  {#                        Get help if you run into any problems<br>#}
                  {#                        Drive tons of sales through our review system<br>#}
                  {#                        Your card will not be charged until after your 7 day free trial.<br>#}
                  {#                        Cancel any time if you're not happy</p>#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
              {% if 'business_signed_up' in session %}
                  <p>Copy the following code in your web application:</p>
                  <textarea disabled style="margin: 0; width: 700px; height: 90px;">
&lt;iframe style="border:0; width:100%; height:400px;"
  src="{{ g.config.OPINEW_API_SERVER }}/plugin?platform_product_id={{ '{{product.id}}' }}"&gt;
&lt;/iframe&gt;
                  </textarea>
              {% endif %}
            </div>
        </div>
    </div>

{% endblock %}