{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Business Sign Up</h1>

            <div class="col-md-4 col-md-offset-2">

              {% if 'business_signed_up' in session %}
                  <p class="lead text-success">Thanks for your interest, we will contact you soon!</p>
              {% else %}
                  <div class="well">
                    {% include "forms/signup.html" %}
                  </div>
              {% endif %}
            </div>
            <div class="col-md-4">
                <div class="well">
                    <b>What happens next?</b>

                    <ul>
                        <li>Start your free trial
                        <li>Add our snippet to your site
                        <li>Get help if you run into any problems
                        <li>Drive tons of sales through our review system
                        <li>Your card will not be charged until after your 7 day free trial.
                        <li>Cancel any time if you're not happy
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
              {% if 'business_signed_up' in session %}
                  <p>Copy the following code in your web application:</p>
                  <textarea disabled style="margin: 0; width: 700px; height: 90px;">
&lt;iframe style="border:0; width:100%; height:400px;"
  src="{{ g.config.OPINEW_API_SERVER }}/plugin?platform_product_id={{ '{{product.id}}' }}"&gt;
&lt;/iframe&gt;
                  </textarea>
              {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_test_YFZO6qldIQDkOcOQz88TudE3');
        jQuery(function ($) {
            $('#payment-form').submit(function (event) {
                var $form = $(this);

                // Disable the submit button to prevent repeated clicks
                $form.find('button').prop('disabled', true);

                Stripe.card.createToken($form, stripeResponseHandler);

                // Prevent the form from submitting with the default action
                return false;
            });
        });

        function stripeResponseHandler(status, response) {
            var $form = $('#payment-form');

            if (response.error) {
                // Show the errors on the form
                $form.find('.payment-errors').show().text(response.error.message);
                $form.find('button').prop('disabled', false);
            } else {
                // response contains id and card, which contains additional card details
                var token = response.id;
                // Insert the token into the form so it gets submitted to the server
                $form.append($('<input type="hidden" name="stripe_token" />').val(token));
                // and submit
                $form.get(0).submit();
            }
        }
    </script>
{% endblock %}