{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block content %}
  <h1>Sign Up</h1>
<form class="action" method="post" action="{{ url_for('.signup') }}">
  <input type="hidden" name="next" value="{{ request.args.next }}" />
  {{ signup_form.hidden_tag() }}
  {{ macros.form_field(signup_form, signup_form.name) }}<br>
  {{ macros.form_field(signup_form, signup_form.email) }}<br>
  {{ macros.form_field(signup_form, signup_form.password) }}<br>
  {{ macros.form_field(signup_form, signup_form.password_verify) }}<br>
  {{ signup_form.remember_me() }} {{ signup_form.remember_me.label() }}<br>
  {{ signup_form.submit() }}<br>
</form>
{% endblock %}