<div class="ask-form">
  <img class="person-img" src="{{ current_user.image_url }}" alt="{{ current_user.name }} profile image"/>
  <form method="post" action="/questions/create">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="product_id" value="{{ product_id }}">
    <input class="form-control ask-form-body" name="body" placeholder="What would you like to know?"
           value="{{ query }}"/>
    <button class="btn btn-primary">Ask</button>
  </form>
</div>