{% import "_macros.html" as macros %}
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
              {% if not shops %}
                  <h2>Hi! Create your first shop</h2>
                  {% include "forms/shop.html" %}
              {% else %}
                  <h2>Please choose a shop to administrate:</h2>
                {% for shop in shops %}
                    <a href="{{ url_for('client.shop_admin_id', shop_id=shop.id) }}">
                        <div class="well">
                            <h3>{{ shop.name }}</h3>
                        </div>
                    </a>
                {% endfor %}
              {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/shop_form.js') }}"></script>
{% endblock %}