{% if request.args.get('first') and not current_plan.name == g.constants.PLAN_NAME_SIMPLE %}
  <h3>Plugin code</h3>

  {% if shop.platform.name == 'shopify' %}
    {% include "user_setup/shopify.html" %}
  {% else %}
    {% include "user_setup/simple.html" %}
  {% endif %}

  <p>Copy the following code below the last line on your product page:</p>

  <textarea disabled style="margin: 0; width: 800px; height: 150px;">{{ code }}</textarea>

  <br>

  <a href="{{ request.path }}" class="btn btn-default">Click here when you are done.</a>
{% else %}
  {% if current_user.temp_password %}
    <div class="alert alert-danger">
      Your <strong>temporary</strong> password is {{ current_user.temp_password }}. Please change it now:
    </div>
  {% endif %}


  {% if current_plan.name == g.constants.PLAN_NAME_SIMPLE %}
    <h2>How to install:</h2>
    <ol>
    <li><a href="#step-1">Add products or services - one plugin per URL</a></li>
    <li><a href="#step-2">Copy the plugin code</a></li>
    </ol>
    <h3 id="step-1">1. Add products/services - one plugin per URL</h3>
    {% include "shop_admin/products.html" %}
    <h3 id="step-2">2. Copy this plugin code</h3>
    <p>Copy the following code where you want your plugin to appear</p>
  {% else %}
    <h3>Plugin code</h3>
    <a href="?first=1" class="btn btn-default">View plugin installation instructions</a>
    <p>Copy the following code below the last line on your product page:</p>
  {% endif %}

  <textarea disabled style="margin: 0; width: 800px; height: 150px;">{{ code }}</textarea>

  <br>
  <hr>
  <div class="alert alert-success"><strong>That's it.</strong> Settings below are just if you wanna change something about the shop itself</div>
  <hr>
  <h3>Shop settings</h3>

  {% include "forms/shop.html" %}
{% endif %}


