{% extends "layout.html" %}
{% block content %}
    <h1>{{ shop.label }} admin panel</h1>
    <h2>Orders</h2>
  {% if not shop.orders %}
      <p>No orders yet</p>
  {% else %}
      <table border="1">
          <tr>
              <th>User name</th>
              <th>Products</th>
              <th>Status</th>
              <th>Purchase TS</th>
              <th>Shipment TS</th>
              <th>Delivery TS</th>
              <th>Delivery estimate</th>
              <th>Delivery estimate accuracy</th>
              <th>Notify for review</th>
          </tr>
        {% for order in shop.orders %}
            <tr>
                <td>{{ order.user.name }}</td>
                <td>
                    <ul>
                  {% for product in order.products %}
                    <li><a href="{{ url_for('client.get_product', product_id=product.id) }}" target="_blank">{{ product.label }}</a></li>
                  {% endfor %}
                    </ul>
                </td>
                <td>{{ order.status }}</td>
                <td>{{ order.purchase_timestamp }}</td>
                <td>{{ order.shipment_timestamp }}</td>
                <td>{{ order.delivery_timestamp }}</td>
                <td>{{ order.delivery_estimation_timestamp }}</td>
                <td>{{ order.delivery_estimation_accuracy }}</td>
                <td>
                  {% if order.notification_timestamp %}
                    {{ order.notification_timestamp }}
                  {% elif order.delivery_timestamp %}
                      <form action="{{ url_for('.notify_for_review', order_id=order.id) }}">
                          <input type="submit" value="Notify review"/>
                      </form>
                  {% else %}

                  {% endif %}
                </td>
            </tr>
        {% endfor %}
      </table>
  {% endif %}
{% endblock %}