<h2>Orders</h2>
{% if not orders %}
    <p>No orders yet</p>
{% else %}
    <table class="table">
        <tr>
            <th>Order Token</th>
            <th>Generated</th>
            <th>User</th>
            <th>Product URL</th>
            <th>Product reviews</th>
            <th>Reviewed?</th>
        </tr>
      {% for order in orders %}
          <tr>
              <td>{{ order.token }}</td>
              <td>{{ order.purchase_timestamp | timesince }}</td>
              <td>{{ order.user }}</td>
              <td>
                  <a href="{{ order.product.url }}"
                     target="_blank"><span class="glyphicon glyphicon-link"></span> {{ order.product.name }}</a>
              </td>
              <td>
                  <a href="{{ url_for('client.get_product', product_id=order.product.id) }}"
                     target="_blank">{{ order.product.name }}</a>
              </td>
              <td>
                {% if not order.review %}
                    No review yet
                {% else %}
                    <a href="{{ url_for('client.view_review', review_id=order.review.id) }}"
                       target="_blank">View review</a>
                {% endif %}
              </td>
          </tr>
      {% endfor %}
    </table>
{% endif %}
