<h2>Orders</h2>
{% if not orders %}
    <p>No orders yet</p>
{% else %}
    <table class="table">
        <tr>
            <th>Order id</th>
            <th>Details</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
      {% for order in orders %}
          <tr>
              <td>{{ order.platform_order_id }}</td>
              <td>
                {% if order.user %}
                  {{ order.user.email }}<br>
                {% elif order.user_legacy %}
                  {{ order.user_legacy.email }}<br>
                {% endif %}
                  <ul>
                    {% for product in order.products %}
                        <li><a href="{{ url_for('client.get_product', product_id=product.id) }}"
                               target="_blank">{{ product.name }}
                        </a>&nbsp;
                            <a href="http://{{ product.url }}" target="_blank"><span
                                    class="glyphicon glyphicon-link"></span></a>
                        </li>
                    {% endfor %}
                  </ul>
              </td>
              <td>
                  <span class="label
                  {% if order.status == g.constants.ORDER_STATUS_PURCHASED %}
                  label-default
                  {% elif order.status == g.constants.ORDER_STATUS_SHIPPED %}
                  label-info
                  {% elif order.status == g.constants.ORDER_STATUS_LEGACY or
                      order.status == g.constants.ORDER_STATUS_REVIEW_CANCELED %}
                  label-warning
                  {% elif order.status == g.constants.ORDER_STATUS_NOTIFIED %}
                  label-success
                  {% elif order.status == g.constants.ORDER_STATUS_FAILED or
                      order.status == g.constants.ORDER_STATUS_STALLED %}
                  label-danger
                  {% endif %}
                  ">
                    {{ order.status }}
                  </span>
                  <br>
                  <small>
                    {% if order.notification_timestamp %}
                      {{ g.constants.ORDER_STATUS_NOTIFIED }}:{{ order.notification_timestamp | timesince }}<br>
                    {% endif %}
                    {% if order.shipment_timestamp %}
                      {{ g.constants.ORDER_STATUS_SHIPPED }}: {{ order.shipment_timestamp | timesince }}<br>
                    {% endif %}
                    {{ g.constants.ORDER_STATUS_PURCHASED }}: {{ order.purchase_timestamp | timesince }}<br>
                  </small>
              </td>
              <td>
                {% if not order.review %}
                  {% if order.status == g.constants.ORDER_STATUS_PURCHASED %}
                      <form action="{{ url_for('client.update_order') }}" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <input type="hidden" name="state" value="{{ g.constants.ORDER_STATUS_SHIPPED }}"/>
                          <input type="hidden" name="order_id" value="{{ order.id }}"/>
                          <button class="btn btn-sm btn-info">Shipped</button>
                      </form>
                  {% elif order.status == g.constants.ORDER_STATUS_SHIPPED or
                       order.status == g.constants.ORDER_STATUS_LEGACY or
                       order.status == g.constants.ORDER_STATUS_REVIEW_CANCELED %}
                    {% if order.tasks %}
                      {% for task in order.tasks %}
                        {% if not task.status == "REVOKED" and task.method == "async.tasks.send_email" %}
                          {% if order.to_notify_timestamp < now %}
                              <span class="label label-success" title="{{ task.eta }}"> Notified ({{ task.method }})
                            {{ task.eta|timesince }}
                          {% else %}
                              <span class="label label-success" title="{{ task.eta }}"> Will notify automatically in {{ task.eta|timeto }}</span>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}

                      <div style="height:10px;"></div>
                    {% if order.to_notify_timestamp %}
                        <form action="{{ url_for('client.update_order') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="state" value="{{ g.constants.ORDER_ACTION_NOTIFY }}"/>
                            <input type="hidden" name="order_id" value="{{ order.id }}"/>
                            <button class="btn btn-sm btn-success">Notify now</button>
                        </form>
                    {% endif %}
                    {% if order.to_notify_timestamp %}
                      {% if order.to_notify_timestamp < now %}
                          <small>Best notification time was {{ order.to_notify_timestamp | timesince }}</small>
                      {% endif %}
                    {% endif %}
                  {% elif order.status == g.constants.ORDER_STATUS_FAILED or
                      order.status == g.constants.ORDER_STATUS_STALLED %}
                      <form action="{{ url_for('client.update_order') }}" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <input type="hidden" name="state" value="{{ g.constants.ORDER_ACTION_DELETE }}"/>
                          <input type="hidden" name="order_id" value="{{ order.id }}"/>
                          <button class="btn btn-sm btn-danger">Remove</button>
                          <br>
                      </form>
                  {% endif %}
                {% else %}
                    <a href="{{ url_for('client.view_review', review_id=order.review.id) }}"
                       target="_blank">View review</a>
                {% endif %}
              </td>
          </tr>
      {% endfor %}
    </table>
{% endif %}
