<h2>Products</h2>
<h3>1. Add products/services</h3>
<p>Name your products or services here and give them the unique link (URL). Each separate product page will have one line below</p>
{% include "forms/product.html" %}
<br>
<p>Here you see the products that you have added:</p>
{% if not shop.products %}
  <p>No products yet</p>
{% else %}
  <table class="table">
    <tr>
      <th>Product name</th>
      <th>Opinew product page</th>
      <th>Reviews</th>
    </tr>
    {% for product in shop.products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>
          <a href="{{ url_for('client.get_product', product_id=product.id) }}"
             target="_blank">{{ product.name }}</a>
          <a href="http://{{ product.url }}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
        </td>
        <td>
          {{ product.reviews | length }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

