<h2>Reviews</h2>
{% if not reviews %}
    <p>No reviews yet</p>
{% else %}
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Stars</th>
            <th>Body</th>
            <th>Picture</th>
            <th>Video</th>
            <th>Badges</th>
            <th>Actions</th>
        </tr>
      {% for review in reviews %}
          <tr>
              <td>
                  <a href="{{ url_for('client.get_product', product_id=review.product.id) }}">{{ review.product.name }}</a><br>
                  <small>Shop page: <a href="{{ review.product.url }}" target="_blank"
                     ><span class="glyphicon glyphicon glyphicon-new-window"></span>
                  </a></small>
              </td>
              <td>{{ review.star_rating }}</td>
              <td>
                  <small><em>(posted on {{ review.created_ts }})</em></small>
                <p>{{ review.body }}</p>
              </td>
              <td>
                {% if review.image_url %}
                    <img style="max-height:50px;" class="img-responsive" src="{{ review.image_url }}"/>
                {% endif %}
              </td>
              <td>
                {% if review.youtube_video %}
                    <a href="{{ review.youtube_video }}" target="_blank">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    </a>
                {% endif %}
              </td>
              <td>
                {% if review.verified_review %}
                    <span class="label label-success"><span
                            class="glyphicon glyphicon-ok"></span> Verified review</span>
                {% endif %}
                {% if review.by_shop_owner %}
                    <span class="label label-info"><span class="glyphicon glyphicon-user"></span> By shop owner</span>
                {% endif %}
              </td>
              <td>
                {% include "forms/like_review.html" %}
                {% include "forms/report_review.html" %}
                {% include "forms/feature_review.html" %}
              </td>
          </tr>
      {% endfor %}
    </table>
{% endif %}