{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">

            <p class="lead">
                Please review how the email(s) will look like and press <strong>Send</strong>
            </p>

            <div class="col-md-12">
                <div class="well">
                    <form action="{{ url_for('client.send_notification', order_id=order.id) }}"
                          method="post">
                        <input value="{{ csrf_token() }}" name="csrf_token" type="hidden"/>

                        <div style="border: 1px solid black; margin-bottom: 10px; background-color: white; padding:10px; font-size: 1.5em;">
                            <b>email to: </b>{{ order.user.email or order.user_legacy.email }}
                        </div>
                        <div style="border: 1px solid black; margin-bottom: 10px; background-color: white; padding:10px; font-size: 1.5em;">
                            <b>subject: </b><input name="subject" class="form-control" type="text"
                                                   style="width: 90%; font-size:1.2em;display:inline;  height: 1.5em;"
                                                   value="Review your recent purchase at {{ order.shop.name }}"/>
                        </div>
                        <iframe src="/render-order-review-email?order_id={{ order.id }}"
                                style="width:100%; height: 350px; border: 1px solid black; background-color:white;"
                                frameborder="0"></iframe>
                        <button class="btn btn-lg btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
