{% extends 'admin/master.html' %}

{% block body %}

  <br><br>
  <h2>Analytics</h2>
  <table class="table">
  <tr>
    <th>Customer</th>
    <th>Shops</th>
    <th>Products</th>
    <th>Orders</th>
    <th>Emails sent</th>
    <th>Subscription</th>
    <th>Conf at</th>
    <th>Login cnt</th>
  </tr>
      {% for customer in customers %}
        <tr>
        <td>
          {{ customer.user.email }}
        </td>
        <td>
          {% for shop in customer.user.shops %}
            <p>{{ shop.domain }}</p>
          {% endfor %}
        </td>
        <td>
          {% for shop in customer.user.shops %}
            <p>{{ shop.products|length }}</p>
          {% endfor %}
        </td>
        <td>
          {% for shop in customer.user.shops %}
            <p>{{ shop.orders|length }}</p>
          {% endfor %}
        </td>
        <td>
          {% for shop in customer.user.shops %}
            <p>{{ shop.emails_sent|length }}</p>
          {% endfor %}
        </td>
        <td>
          {{ customer.subscription[0].timestamp|timesince }}<br>
          {{ customer.subscription[0].timestamp }}<br>
          {{ customer.subscription[0].plan.name }}<br>
        </td>
        <td>
          {{ customer.user.confirmed_at|timesince }}<br>
          {{ customer.user.confirmed_at }}
        </td>
        <td>
          {{ customer.user.login_count }}
        </td>
        </tr>
      {% endfor %}
  </table>
{% endblock %}
