{% extends 'admin/master.html' %}

{% block body %}
  <h1>Welcome to admin panel <a class="btn btn-danger" href="/logout">Log out</a></h1>

  <h2>View as</h2>
  <form method="get" action="/admin-view-as">
    <div class="col-xs-6">
      <select class="form-control form-serialize" name="user_id">
        {% for user in users %}
          <option value="{{ user.id }}">
            {{ user.name }} | {{ user.email }} | {{ user.roles }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="col-xs-6">
      <button type="submit" class="btn btn-success">View as</button>
    </div>
  </form>

  <br><br>
  <h2>Analytics</h2>
  <table class="table">
    <tr>
      <th></th>
      <th colspan="2" style="background-color: #ff8888">BEFORE OPINEW</th>
      <th colspan="4" style="background-color: #8888ff">THE PIPELINE</th>
      <th colspan="2" style="background-color: #88ff88">AFTER OPINEW</th>
    </tr>
    <tr>
      <th>Shop</th>
      <th>Orders</th>
      <th>Reviews</th>
      <th>Rev Reqs</th>
      <th>Emails <br>Sent</th>
      <th>Emails <br>Opened</th>
      <th>Unq Ord/Total<br> Rev Reqs<br>Opened</th>
      <th>Ver/Total<br>Reviews</th>
      <th>Orders</th>
    </tr>
    {% for shop in shops %}
      <tr>
        <td>
          <h3>{{ shop.name }}</h3>
          <small>id: {{ shop.id }} | uid: {{ shop.owner.id if shop.owner else 0}} - cid: {{ shop.owner.customer[0].id if shop.owner and shop.owner.customer else 0 }}</small><br>
          <small>Since: {{ shop.owner.confirmed_at if shop.owner else 0}}</small><br>
          <small>Products: {{ shop.products|length }}</small>
        </td>
        <td>
          <h3>{{ shop.orders_before_opinew()|length }}</h3>
        </td>
        <td>
          <h3>{{ shop.product_reviews()|length }}</h3>
          <small>
            {% for s in shop.product_reviews_summary() %}
              {{ s[1] }} w {{ s[0] }} rvs<br>
            {% endfor %}
          </small>
        </td>
        <td>
          <h3>{{ shop.product_review_requests()|length }}</h3>
        </td>
        <td>
          {% set emails_sent = shop.emails_sent|length  %}
          <h3>{{ emails_sent }}</h3>
        </td>
        <td>
          {% set emails_opened = shop.emails_opened()|length %}
          <h3>{{ emails_opened }}</h3>
          <small>{{ ((emails_opened/emails_sent)*100)|round if emails_sent else "-" }}%</small>
        </td>
        <td>
          {% set rro = shop.rr_opened() %}
          <h3>{{ rro[0]|length }} <small>({{ rro[1]|length }})</small></h3>
          <small>{{ ((rro[0]|length/emails_opened)*100)|round if emails_opened else "-" }}%</small><br>
          <small>{{ ((rro[0]|length/emails_sent)*100)|round if emails_sent else "-" }}%</small>
        </td>
        <td>
          {% set rso = shop.reviews_since_opinew() %}
          <h3>{{ rso[0]|length}} <small>({{ rso[1]|length}})</small></h3>
          <small>{{ ((rso[0]|length/rro[1]|length)*100)|round if rro[1]|length else "-" }}%</small><br>
          <small>{{ (((rso[0]|length/rro[1]|length)*(rro[0]|length/emails_opened))*100)|round if rro[1]|length and emails_opened else "-" }}%</small><br>
          <small>{{ (((rso[0]|length/rro[1]|length)*(rro[0]|length/emails_sent))*100)|round if rro[1]|length and emails_sent else "-" }}%</small><br>
        </td>
        <td>
          <h3>+{{ shop.orders_since_opinew()|length}}</h3>
          {% set last_order_ts = shop.last_order_ts().purchase_timestamp %}
          <small>last: {{ last_order_ts|timesince }}</small>
        </td>
      </tr>
    {% endfor %}
  </table>
  <h2>Scheduled tasks</h2>
  <table class="table">
    <tr>
      <th>Task id</th>
      <th>Task ETA</th>
      <th>Kwargs</th>
      <th>Actions</th>
    </tr>
    {% for task in tasks %}
      <tr>
        <td>{{ task.request.id }}</td>
        <td>({{ task.eta }})</td>
        <td>{{ task.request.kwargs }}</td>
        <td><a href="/admin-revoke-task?task_id={{ task.request.id }}" class="btn btn-danger">Revoke task</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}