{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h1>{{ product.name }} Reviews</h1>
              {% if not reviews %}
                  <h2>No reviews yet</h2>
              {% else %}
                {% for review in reviews %}
                  {% include "product/review.html" %}
                {% endfor %}
              {% endif %}
            </div>
        </div>
    </div>
{% endblock %}