<div class="review-container">
<h3>From <a href="{{ review.shop_product.url }}" target="_blank"><b>{{ review.shop_product.shop.name }}</b></a></h3>

    <hr>
  {% include "review/review_author.html" %}
  {% if review.tags %}
    {% for tag in review.tags %}
      {% include "review/review_tag.html" %}
    {% endfor %}
  {% endif %}
  {% if review.photo_url %}
    {% include "review/review_photo.html" %}
  {% endif %}
  {% if review.body %}
    {% include "review/review_body.html" %}
  {% endif %}
</div>