{% if product_objs.average_stars %}
  <div class="row" style="display:flex;justify-content:center;align-items:center;">
    {% set average_stars = product_objs.average_stars %}
    <div style="font-size: 2em; margin-bottom:20px;">
      <span
          class="star-rating {% if 1 > average_stars > 0 %}star-half {% endif %}{% if average_stars >= 1 %}star-active{% endif %}">☆</span>
      <span
          class="star-rating {% if 2 > average_stars > 1 %}star-half {% endif %}{% if average_stars >= 2 %}star-active{% endif %}">☆</span>
      <span
          class="star-rating {% if 3 > average_stars > 2 %}star-half {% endif %}{% if average_stars >= 3 %}star-active{% endif %}">☆</span>
      <span
          class="star-rating {% if 4 > average_stars > 3 %}star-half {% endif %}{% if average_stars >= 4 %}star-active{% endif %}">☆</span>
      <span
          class="star-rating {% if 5 > average_stars > 4 %}star-half {% endif %}{% if average_stars == 5 %}star-active{% endif %}">☆</span>
      <span style="color: #fb8c2d">  {{ average_stars|round(1) }}/5</span>
      from {{ product_objs.total_reviews }} reviews
    </div>
  </div>
{% endif %}