{% extends "layout.html" %}

{% import "_macros.html" as macros %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <h1>Register {% if request.args.slot_number %} for slot #{{ request.args.slot_number }} {% endif %}</h1>

                <div style="height: 10px;" class="opinew-{{ request.args.slot_color }}"></div>
                <div class="well">

                  {% set signup_form = register_user_form %}
                  {% include "forms/register.html" %}
                </div>
                <p><a href="/login">Login</a> | <a href="/reset">Forgot your password?</a> | <a href="/confirm">Resend
                    confirmation email</a></p>
            </div>
        </div>
    </div>
{% endblock %}