{% extends "layout.html" %}

{% import "_macros.html" as macros %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <h1>Register</h1>

        <div class="well">
          {% set signup_form = register_user_form %}
          {% include "forms/register.html" %}
        </div>
        <p><a href="/login">Login</a> | <a href="/reset">Forgot your password?</a> | <a href="/confirm">Resend confirmation email</a></p>
      </div>
      <div class="col-md-4">
        <div class="well">
          <b>What happens next?</b>

          <ul>
            <li>Start your free trial
            <li>Add our snippet to your site
            <li>Get help if you run into any problems
            <li>Drive tons of sales through our review system
            <li>Your card will not be charged until after your 30 day free trial.
            <li>Cancel any time if you're not happy
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}