<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="subject">

    <title>{{ subject }}</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<h1>Welcome to Opinew</h1>
<p>Opinew is a mobile app for showing of things you have that you think are awesome or suck.</p>

<p>You recently placed an order with a shop and we created an account for you.</p>

<p>Your password is:</p>
    <h2 style="padding: 10px; background-color: yellow;">{{ user_password }}</h2>
</body>
</html>