Hi {{ name }},

Thank you for trying out Opinew and apologies for not meeting your demands.
Our clients including even the ones that went away are extremely valuable to our company and it's important to me that you are happy.

Was your experience with Opinew unsatisfactory of confusing in any way?
If so, I’d like to know. Please write me back and let me know what we should change - I will appreciate that a lot.

Also, just to let you know, our PRO version of the plugin with support for photos and unlimited review requests is now available for 14-day trial and costs only ${{ cost }} per month.
You can find it here if you ever reconsider.

Best regards,

Tomasz Sadowski
CEO & Co-Founder | Opinew | www.opinew.com
