<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="subject">

    <title>{{ subject }}</title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<div style="padding: 50px;">
    <h1>Did you like your {{ order.product.name }}?</h1>
    <p>Help 5000 other people find the right {{ order.product.product_type }}</p>
    <a href="{{ g.constants.OPINEW_API_SERVER }}/{{ order.token }}?like=0" style="color: white;">
        <div style="width: 49%; height: 100px; background-color: #fb412d; display: inline-block; text-align: center; font-size: 2em;">
            <p> ✗ no</p>
        </div>
    </a>
    <a href="{{ g.constants.OPINEW_API_SERVER }}/{{ order.token }}?like=1" style="color: white;">
        <div style="width:49%; height: 100px; background-color: #22be44; display: inline-block; text-align: center; font-size: 2em;">
            <p> ✓ yes</p>
        </div>
    </a>
</div>
</body>
</html>