<div>
  <h2>{{ g.s.DASHBOARD_ANALYTICS_TITLE }}</h2>
  <div class="alert alert-warning">
    {{ g.s.WORKING_ON_ANALYTICS }}
  </div>
  <h3>{{ shop.name }}</h3>
<small>Since: {{ stats.since }}</small>
        <br>
        <small>Products: {{ shop.products|length }}</small>
  <table class="table">
    <tr>
      <th></th>
      <th></th>
      <th colspan="5" style="background-color: #8888ff">THE PIPELINE</th>
      <th colspan="3" style="background-color: #88ff88">AFTER OPINEW</th>
    </tr>
    <tr>
      <th>Total Reviews</th>
      <th>Plugin Views</th>
      <th>Orders with <br>Review Requests</th>
      <th>Emails Sent</th>
      <th>Emails Opened</th>
      <th>Emails Converted</th>
      <th>Verified/Total<br>Reviews</th>
      <th>Opened/Total<br> Review Requests</th>
    </tr>

    <tr>
      <td>
        <h3>{{ stats.reviews|length }}</h3>
        <small>
          {% for s in stats.reviews_cnt_by_product %}
            {{ s[1] }} with {{ s[0] }} reviews<br>
          {% endfor %}
        </small>
      </td>
      <td>
        <h3>{{ stats.funnel_streams_cnt }}</h3>
        <small>Glimpsed: {{ stats.funnel_streams_glimpsed_cnt }}</small>
        <br>
        <small>Fully seen: {{ stats.funnel_streams_fully_seen_cnt }}</small>
        <br>
        <small>Hovered: {{ stats.funnel_streams_hovered_cnt }}</small>
        <br>
        <small>Scrolled: {{ stats.funnel_streams_scrolled_cnt }}</small>
        <br>
        <small>Clicked: {{ stats.funnel_streams_clicked_cnt }}</small>
        <br>
      </td>
      <td>
        <h3>{{ stats.orders_with_review_requests_cnt }}</h3>
      </td>
      <td>
        <h3>{{ stats.emails_sent_cnt }}</h3>
      </td>
      <td>
        <h3>{{ stats.emails_opened_cnt }}</h3>
        <small>{{ stats.emails_opened_over_sent_pctg }}%</small>
      </td>
      <td>
        <h3>{{ stats.emails_converted_cnt }}</h3>
        <small>{{ stats.emails_converted_over_emails_opened_pctg }}%</small>
      </td>
      <td>
        <h3>{{ stats.verified_opinew_reviews_cnt }} / {{ stats.opinew_total_reviews_cnt }}</h3>
        <small>{{ stats.verified_opinew_reviews_over_email_converted_pctg }}%</small>
        <br>
      </td>
      <td>
        <h3>{{ stats.review_requests_opened_total_cnt }} / {{ stats.review_requests_cnt }}</h3>
      </td>
    </tr>
  </table>
</div>