<form action="/change-subscription" method="post">
  <input name="_csrf_token" type=hidden class="form-serialize" value="{{ csrf_token() }}">
  <input name="shop_id" type=hidden class="form-serialize" value="{{ shop.id }}">
  <select class="form-control form-serialize" name="plan_id">
    {% for plan in plans %}
        {% if plan.name == "simple" %}
            <option {% if current_plan == plan %}selected{% endif %} value="{{ plan.id }}">
            {{ plan.name }} -- {{ "£{:.2f}".format((plan.amount|string)[:-2]|float) }} per {{ plan.interval }} (doesn't integrate with Shopify/Magento products)
            </option>
        {% else %}
            <option {% if current_plan == plan %}selected{% endif %} value="{{ plan.id }}">
            {{ plan.name }} -- {{ "£{:.2f}".format((plan.amount|string)[:-2]|float) }} per {{ plan.interval }}
          </option>
        {% endif %}
    {% endfor %}
  </select>
  <br>
  <button class="btn btn-primary" type="submit">Update</button>
</form>