<form class="review-feature-form pull-right" style="margin-right: 10px; display:inline;"
      action="{{ g.constants.API_V1_URL_PREFIX }}/review_feature{% if review.featured %}/{{ review.featured.id }}{% endif %}"
      method="{% if review.featured %}patch{% else %}post{% endif %}">
    <input name=_csrf_token type=hidden class="form-serialize" value="{{ csrf_token() }}">
    <input type="hidden" name="review_id" class="form-serialize" value="{{ review.id }}"/>
    <input type="hidden" name="action" class="form-serialize feature-action-input"
           value="{{ review.next_feature_action }}"/>
    <button title="Feature" class="btn {% if review.featured and review.featured.action %}btn-warning{% else %}btn-default{% endif %}"
            type="submit">
        <span class="glyphicon glyphicon-star"></span> <span class="feature-text"></span>
    </button>
</form>
<script>
    var ASYNC_SCRIPTS = ASYNC_SCRIPTS || [];
    var scr = "/static/js/feature_review.js";
    if (!~ASYNC_SCRIPTS.indexOf(scr))
        ASYNC_SCRIPTS.push(scr);
</script>