<form method="post" action="/api/v1/question" id="ask-question-form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="about_product_id" value="{{ product.id }}">
    <input type="hidden" name="user_id" value="{{ current_user.id or session.temp_user_id }}">

    <div class="col-xs-1">
        <img src="/media/user/default_user.png" class="img-circle img-responsive" alt="default user profile pic" />
    </div>
    <div class="col-xs-11">
        <textarea class="form-control" name="body" placeholder="What would you like to know?"></textarea><br>
    </div>
    <button class="btn btn-primary pull-right">Ask</button>
</form>
