<form class="review-report-form pull-right" style="margin-right: 10px; display:inline;"
      action="{{ g.constants.API_V1_URL_PREFIX }}/review_report{% if review.reported_by_current_user %}/{{ review.reported_by_current_user.id }}{% endif %}"
      method="{% if review.reported_by_current_user %}patch{% else %}post{% endif %}">
    <input name=_csrf_token type=hidden class="form-serialize" value="{{ csrf_token() }}">
    <input type="hidden" name="review_id" class="form-serialize" value="{{ review.id }}"/>
    <input type="hidden" name="action" class="form-serialize report-action-input"
           value="{{ review.next_report_action }}"/>
    <button class="btn {% if review.reported_by_current_user and review.reported_by_current_user.action %}btn-danger{% else %}btn-default{% endif %}"
            type="submit">
        <span class="glyphicon glyphicon-flag"></span> <span class="report-text">Report{% if review.reported_by_current_user and review.reported_by_current_user.action %}ed{% endif %}</span>
    </button>
</form>
<script>
    var ASYNC_SCRIPTS = ASYNC_SCRIPTS || [];
    var scr = "/static/js/report_review.js";
    if (!~ASYNC_SCRIPTS.indexOf(scr))
        ASYNC_SCRIPTS.push(scr);
</script>