<div id='giphy-container' hidden>
    <div class="btn-group" role="group" aria-label="..." style="margin: 20px 0 20px 0;">
        <button type="button" onclick="giphyLabel(this);" class="btn" style="background-color:coral; color: white;">Happy</button>
        <button type="button" onclick="giphyLabel(this);" class="btn" style="background-color:hotpink; color: white;">In Love</button>
        <button type="button" onclick="giphyLabel(this);" class="btn" style="background-color:darkred; color: white;">Angry</button>
        <button type="button" onclick="giphyLabel(this);" class="btn" style="background-color:grey; color: white;">Sad</button>
        <button type="button" onclick="giphyLabel(this);" class="btn" style="background-color:chocolate; color: white;">Confused</button>
        <form class="action" method="get" action="{{ url_for('client.search_giphy') }}" id="review-giphy-form">
      {{ review_image_form.hidden_tag() }}
        <div class="input-group">
            <input type="text" name="q" id="review-giphy-search" class="form-control" placeholder=".. or search GIFS for your mood">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
        </div>
        <!-- /input-group -->
    </form>
    </div>
    <div id="giphy-images" style="overflow-x: scroll; height: 220px; overflow-y: hidden; white-space: nowrap;">
        <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}"/>
    </div>

</div>