{% import "_macros.html" as macros %}
{% set platform_id = 1 %}
<div id="ajax-status" hidden class="alert"></div>
<form action="{{ g.constants.API_V1_URL_PREFIX }}/shop{% if shop %}/{{ shop.id }}{% endif %}"
      method="{% if shop %}patch{% else %}post{% endif %}" id="shop-form">
    <input type="hidden" name="next" value="{{ url_for('client.shop_dashboard') }}"/>
    <input name=_csrf_token type=hidden class="form-serialize" value="{{ csrf_token() }}">
    {% for platform in platforms %}
        {% if platform.name == 'custom' %}
           {% set platform_id = platform.id %}
        {% endif %}
    {% endfor %}
    <input name="platform_id" type=hidden class="form-serialize" value="{{ platform_id }}">
  {{ macros.form_field(shop_form, shop_form.name, class="form-control form-serialize", placeholder='Name of your shop') }}<br>
  {{ macros.form_field(shop_form, shop_form.domain, class="form-control form-serialize", placeholder='Your shop\'s website address eg. www.myshop.com') }}<br>
<br>
  {{ shop_form.submit(class="form-control btn-primary") }}<br>
</form>