{% if not hide_buy_button %}
    <a class="btn btn-primary pull-right" href="http://{{ review.product.url }}">Buy</a>
{% endif %}
{% if current_user.is_authenticated() %}
    <div class="pull-left">
      {% include "forms/report_review.html" %}
      {% include "forms/like_review.html" %}
    </div>
{% else %}
    <a class="btn btn-default pull-left" style="margin-right: 10px;" href="/login">
        <span class="glyphicon glyphicon-thumbs-up"></span> <span class="like-count">{{ review.likes }}</span>
    </a>
{% endif %}
