{% if review.body %}
    <blockquote>
      {% if review.body|length > g.constants.MAX_BODY_LENGTH %}
          <span class="review-body-content" id="review-less-{{ review.id }}">
        {{ review.body[:g.constants.MAX_BODY_LENGTH]|urlize(g.constants.DEFAULT_LINK_SHORT_SIZE, target='_blank') }}...
          </span>
          <a href="#" class="review-more-btn" data-review-id="{{ review.id }}">(more)</a>
          <span class="review-body-content" id="review-more-{{ review.id }}" hidden>
        {{ review.body|urlize(g.constants.DEFAULT_LINK_SHORT_SIZE, target='_blank') }}
          </span>
      {% else %}
          <span class="review-body-content">
        {{ review.body|urlize(g.constants.DEFAULT_LINK_SHORT_SIZE, target='_blank') }}
          </span>
      {% endif %}
    </blockquote>
{% endif %}