<div class="review-container" itemscope itemtype="http://schema.org/Review">
  <div hidden itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
    <span itemprop="name">{{ review.product.name }}</span>
  </div>
  <div class="review-header">
    {% include "review/review_star_rating.html" %}
    {% include "review/review_author.html" %}
  </div>
  {% include "review/review_badges.html" %}
  {% include "review/review_body.html" %}
  {% include "review/review_media.html" %}
  {% include "review/review_interaction.html" %}
  {% include "review/review_comments.html" %}
</div>