{% if review.source_id and not review.source_id == 1 %}
  {% set user_name = review.source_user_name or "Anonymous" %}
  {% set source_url = review.source_url %}
  {% if review.source_user_image_url %}
    {% set user_image_url = review.source_user_image_url %}
  {% else %}
    {% set user_image_url = review.source_user_name | gravatar %}
  {% endif %}
{% else %}
  {% set user_name = review.user.name or "Anonymous" %}
  {% if review.user.image_url %}
    {% set user_image_url = review.user.image_url %}
  {% elif review.user and review.user.email and review.user.email | gravatar %}
    {% set user_image_url = review.user.email | gravatar %}
  {% else %}
    {% set user_image_url = url_for('media.get_user_image', filename=g.constants.DEFAULT_PROFILE_PICTURE) %}
  {% endif %}
{% endif %}

<header class="review-header">
  {% if user_image_url %}
      <img class="review-profile-pic" src="{{ user_image_url }}" alt="{{ user_name }} profile image"/>
  {% endif %}
    <div class="review-author-name">{{ user_name }}</div>
    <div class="review-time-posted">{{ review.created_ts | timesince }}</div>
    <div class="badges">
      {% if review.verified_review %}
          <span class="label label-success"><span class="glyphicon glyphicon-ok"></span> Verified review</span>
      {% endif %}
      {% if review.by_shop_owner %}
          <span class="label label-info"><span class="glyphicon glyphicon-user"></span> By shop owner</span>
      {% endif %}
    </div>
</header>