{% if review.star_rating %}
  <span class="rating-review-body pull-right">
    <span class="star-rating {% if review.star_rating >= 1 %}star-active{% endif %}">☆</span>
    <span class="star-rating {% if review.star_rating >= 2 %}star-active{% endif %}">☆</span>
    <span class="star-rating {% if review.star_rating >= 3 %}star-active{% endif %}">☆</span>
    <span class="star-rating {% if review.star_rating >= 4 %}star-active{% endif %}">☆</span>
    <span class="star-rating {% if review.star_rating == 5 %}star-active{% endif %}">☆</span>
    <span>  {{ review.star_rating }}/5</span>
  </span>
{% endif %}