{% import "_macros.html" as macros %}
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="{{ g.constants.API_V1_URL_PREFIX }}/shop/{{ shop.id }}" id="shop-form">
                    <input type="hidden" name="next" value="{{ request.args.next }}"/>
                  {{ shop_form.hidden_tag() }}
                  {{ macros.form_field(shop_form, shop_form.name, class="form-control form-serialize", placeholder='Name of your shop') }}<br>
                  {{ macros.form_field(shop_form, shop_form.domain, class="form-control form-serialize", placeholder='URL of your shop') }}<br>

                    <div class="form-group">
                        <label for="sel_product">Platform</label>
                        <select class="form-control form-serialize" name="platform_id" id="sel_product">
                          {% for platform in platforms %}
                              <option value="{{ platform.id }}">{{ platform.name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                  {{ shop_form.submit(class="form-control") }}<br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('#shop-form').bind('submit', function (e) {
            e.preventDefault();
            var $form = $(this);
            var formData = {};

            $form.find(".form-serialize").each(function () {
                formData[this.name] = $(this).val();
            });
            $.ajax({
                type: 'PATCH',
                url: $form.attr('action'),
                data: JSON.stringify(formData),
                contentType: 'application/json'
            }).done(function (r) {
                $('#product-post-status')
                        .removeClass('alert-danger')
                        .addClass('alert-success')
                        .html('<p>Shop details updated</p>')
                        .slideDown();
            }).fail(function (r) {
                var errors = JSON.stringify(r.responseJSON.validation_errors) || JSON.stringify(r.responseJSON.message);
                $('#product-post-status')
                        .addClass('alert-danger')
                        .html('<p><strong>Something went wrong</strong>: ' + errors + '</p>')
                        .slideDown();

            });
            return false;
        });
    </script>
{% endblock %}