{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Tell us a bit more about your shop</h2>
                <p>TODO: Shop name form...</p>
                <p>TODO: Shop url form:...</p>
                <h2>Import reviews</h2>
                <p>TODO: Import form...</p>
                <h2>Plugin code</h2>
                    <p>Copy the following code below the last line on your product page:</p>
    <textarea disabled style="margin: 0; width: 800px; height: 150px;">{{ code }}</textarea>
            </div>
        </div>
    </div>
{% endblock %}