<div class="row">
    <div class="col-md-6">
        <ol>
            <li>Click on <b>Online store</b> in your admin panel</li>
            <li>Click on <b>Themes</b></li>
            <li>On the top right corner click on <b>the three dots</b> (next to the blue Customize theme button)
                and select <b>Edit HTML/CSS</b>.
            </li>
            <li>Under Templates folder click <b>product.liquid</b></li>
            <li>Copy the following code below the last line:</li>

            <li>Click <b>Save</b></li>
        </ol>
    </div>
</div>
