{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <p> Click on <b>Online store</b> in your admin panel
        <img class="img-instruction" src="{{ url_for('static', filename='img/shopify_install/01.png') }}"
             alt="Click on Online store< in your admin panel"/>
      <p>Click on <b>Themes</b></p>
      <img class="img-instruction" src="{{ url_for('static', filename='img/shopify_install/02.png') }}"
           alt="Click on Themes"/>
      <p>On the top right corner click on <b>the three dots</b> (next to the blue Customize theme button)
        and select <b>Edit HTML/CSS</b>.
        <img class="img-instruction" src="{{ url_for('static', filename='img/shopify_install/03.png') }}"
             alt="On the top right corner click on the three dots (next to the blue Customize theme button)
            and select Edit HTML/CSS"/>
      </p>
      <p>Under Templates folder click <b>product.liquid</b></p>
      <img class="img-instruction" src="{{ url_for('static', filename='img/shopify_install/04.png') }}"
           alt="Under Templates folder click product.liquid"/>
      <p>Copy the following code below the last line on your product page:</p>

      <textarea disabled style="margin: 0; width: 800px; height: 150px;">
        {% include "user_setup/shopify_code.html" %}
      </textarea>

      <textarea disabled style="margin: 0; width: 800px; height: 150px;">
        {% include "user_setup/shopify_code_stars.html" %}
      </textarea>

      <br>
    </div>
  </div>
{% endblock %}