<div class="row">
    <ol>
        <li>Click on <b>Online store</b> in your admin panel</li>
        <img class="img-instruction" src="{{ url_for('static', filename='img/shopify_install/01.png') }}"
             alt="Click on Online store< in your admin panel"/>
        <li>Click on <b>Themes</b></li>
        <img class="img-instruction" src="{{ url_for('static', filename='img/shopify_install/02.png') }}"
             alt="Click on Themes"/>
        <li>On the top right corner click on <b>the three dots</b> (next to the blue Customize theme button)
            and select <b>Edit HTML/CSS</b>.
            <img class="img-instruction" src="{{ url_for('static', filename='img/shopify_install/03.png') }}"
             alt="On the top right corner click on the three dots (next to the blue Customize theme button)
            and select Edit HTML/CSS"/>
        </li>
        <li>Under Templates folder click <b>product.liquid</b></li>
        <img class="img-instruction" src="{{ url_for('static', filename='img/shopify_install/04.png') }}"
             alt="Under Templates folder click product.liquid"/>
    </ol>
</div>
