<h3 id="why-reviews">{{ gettext("Why reviews?") }}</h3>
<p>{{ gettext("They are pretty important for conversion these days. Look at that:") }} </p>
<ul>
  <li>
    <a target="_blank"
       href="https://econsultancy.com/press-releases/6144-marks-spencer-sees-over-400-increase-in-customer-reviews-since-launching-email-campaign">
      {{ gettext("Marks & Spencer sees over 400%% increase in customer reviews since launching email campaign") }}
    </a>
  </li>

  <li>
    <a target="_blank"
       href="https://econsultancy.com/blog/64406-77-of-uk-shoppers-consult-reviews-before-buying-online-report/">
      {{ gettext("77%% of UK shoppers consult reviews before buying online") }}
    </a>
  </li>

  <li>
    <a target="_blank"
       href="http://marketingland.com/survey-customers-more-frustrated-by-how-long-it-takes-to-resolve-a-customer-service-issue-than-the-resolution-38756">
      {{ gettext("90%% Of Customers Say Buying Decisions Are Influenced By Online Reviews") }}
    </a>
  </li>

  <li>
    <a href="http://searchengineland.com/88-consumers-trust-online-reviews-much-personal-recommendations-195803">
      {{ gettext("88%% Of Consumers Trust Online Reviews As Much As Personal Recommendations") }}
    </a>
  </li>
</ul>


<h3>{{ gettext("So how does it work?") }}</h3>

<p>{{ gettext("On your side, you just put in a small piece of code on your product pages, similar to the way you put facebook sharing buttons.") }}

<p>{{ gettext("When someone receives a product from your store, we send them an email asking to write a review.") }}</p>
<br>
<a class="btn btn-primary" target="_blank"
   href="https://apps.shopify.com/opinew">{{ gettext("Check us out on Shopify") }}</a>


<h3>{{ gettext("I don't want negative reviews.") }}</h3>

<p>{{ gettext("This is by far the #1 complaint we hear. Here is the controversial truth though: Both good and bad reviews actually help you bring up the trust of your customers! <a target='_blank' href='https://econsultancy.com/blog/8638-bad-reviews-improve-conversion-by-67'>Bad reviews help conversion by 67%%</a>") }}


<h3>{{ gettext("How much is it?") }}</h3>

<p>{{ gettext("There is a 30 day free trial period will allow you to familiarize yourself with the system.</br>After that it's just £60 per month.</p>") }}
