@keyframes fadeIn {
  from {
    position: relative;
    top: 150px;
  }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

.fade-in {
  opacity: 0;
	animation: fadeIn 1;
	animation-fill-mode: forwards;
  animation-delay: 0.5s;
	animation-duration: 1s;
}