/* Opinew colors */
.opinew-cherry {
  background-color: #fb412d;
}

.opinew-orange {
  background-color: #fb8c2d;
}

.opinew-kiwi {
  background-color: #22be44;
}

.opinew-blueberry {
  background-color: #2c54a8;
}

.opinew-aqua {
  background-color: #1c9298;
}

/* /Opinew colors */

.colors-bar {
  line-height: 0;
  margin: -5px 0 0 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

.color-bar-element {
  display: inline-block;
  height: 6px;
  width: 20%;
}

