html, body {
  height: 100%;
  background-size: cover;
}

.icon-bar {
  background-color: #fff;
}

.navbar-trans {
  background-color: #2c54a8;
  color: #fff;
}

.navbar-trans li > a:hover, .navbar-trans li > a:focus, .navbar-trans li.active {
  background-color: #38afef;
}

.navbar-trans a {
  color: #fefefe;
}

.navbar-trans .form-control:focus {
  border-color: #eee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
}

section {
  padding-top: 70px;
  padding-bottom: 50px;
  min-height: calc(100% - 1px);
}

.v-center {
  padding-bottom: 5%;
  font-size: 70px;
}

a.list-group-item.active, [class*='-info'] {
  background-color: #1c9298;
  color: #fff;
}

#welcome, #examples {
  background-color: #eee;
  color: #444;
}

#features, #about_us {
  background-color: #e5e5ef;
  color: #686868;

}

#pricing {
  background-color: #fff;
  color: #444;
}

body {
  background-color: #F0F0F0;
}

#content-wrapper {
  min-height: 600px;
}

/* Opinew colors */
.opinew-cherry {
  background-color: #fb412d;
}

.opinew-orange {
  background-color: #fb8c2d;
}

.opinew-kiwi {
  background-color: #22be44;
}

.opinew-blueberry {
  background-color: #2c54a8;
}

.opinew-aqua {
  background-color: #1c9298;
}

/* /Opinew colors */

.spacer {
  height: 20px;
}

.colors-bar {
  line-height: 0;
  margin: -5px 0 0 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

.color-bar-element {
  display: inline-block;
  height: 6px;
  width: 20%;
}

#logo-image {
  max-height: 25px;
  margin-left: -10px
}

.glyphicon-5x {
  font-size: 5em;
}

.review-container {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(87, 87, 87, 0.49);
  -moz-box-shadow: 0px 1px 2px 0px rgba(87, 87, 87, 0.49);
  box-shadow: 0px 1px 2px 0px rgba(87, 87, 87, 0.49);
  background-color: #ffffff;
  padding: 5px;
  margin: 5px;
}

.review-profile-pic {
  float: left;
  max-height: 40px;
  max-width: 40px;
  margin-right: 5px;
}

.review-author-name {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0 10px;
}

.review-time-posted {
  font-size: 0.8em;
  margin: 0 0 0 50px;
}

footer {
  background-color: #494949;
  color: #ddd;
  min-height: 100px;
  padding-top: 20px;
  padding-bottom: 40px;
}

footer .nav > li > a {
  padding: 3px;
  color: #ccc;
}

footer .nav > li > a:hover {
  background-color: transparent;
  color: #fff;
}

.opinew-logo-marketing {
  max-height: 120px;
  margin-bottom: 5em;
}

.about-us-picture {
  height: 150px;
  display: block;
  margin: 0 auto 0 auto;
}

.person-name {
  font-size: 2em;
  margin: 1em 0 0 0;
  text-align: center;
}

.price-circle {
  border-radius: 50%;
  background-color: #555;
  height: 120px;
  width: 120px;
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
}

.price-label {
  text-align: center;
  height: 120px;
  line-height: 120px;
  white-space: nowrap;
  color: white;
}

.navbar-profile-pic {
  height: 30px;
}

.navbar-name {
  padding-left: 10px;
  padding-bottom: 20px
}

.star-rating {
  font-size: 1.5em;
}

.star-active:before {
  content: "\2605";
  position: absolute;
}

.star-active:before {
  color: #fb8c2d;
}

.navbar {
  background-color: initial;
}

.nav-shop-owner-role-label {
  padding-left: 10px;
  top: -6px;
  position: relative;
}

blockquote {
  border-left: None;
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote p {
  display: inline;
}

.review-date {
  margin-bottom: 10px;
}

.rating {
  margin: 0 auto;
  width: 300px
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 400%;
  line-height: 1.2;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #fb8c2d;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FF8E2E;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #FFB77A;
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.emoji-wysiwyg-editor {
  display: block;
  width: 100%;
  height: 9em;
  padding: 6px 12px;
  font-size: 1.5em;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn {
  border-radius: 0;
}

.btn-write-review {
  color: white;
  position: relative;
  right: 0;
}

.btn-write-review:hover {
  color: white;
  background-color: #14676c !important;
}

.per-month-price-plan {
  color: #b6b6b6;
  font-size: 12px;
}

.nav-register-btn {
  color: white;
}

.nav-register-btn:hover {
  color: white;
  background-color: #74d474 !important;
}

.btn-buy {
  color: #ffffff;
  background-color: hsla(221, 68%, 62%, 1);
  border-color: hsla(221, 58%, 60%, 1);
}

.reviews-container {
  padding-left: 1px;
  padding-right: 1px;
}

.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 3px solid;
  border-color: inherit;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(20deg);
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
  width: 100%
}

.modal-body .form-horizontal .control-label {
  text-align: left;
}

.modal-body .form-horizontal .col-sm-offset-2 {
  margin-left: 15px;
}

.small-logo {
  height: 50px;
}

.modal-dialog {
  width: initial;
}

.modal-content {
  border-radius: initial;
}

.modal {
  padding: 0 15px 0 15px;
}

.review-add-button {
  height: 3em;
  width: 60px;
  font-size: 1.5em;
}

#giphy-container {
  margin: 20px 0 0 20px;
}

#submit-review-form {
  font-size: 2em;
  height: 2em;
}

.emoji-menu {
  z-index: 1051 !important;
}

/* higher than bootstrap-modal 1050*/

.no-padding {
  padding: 0px;
}

@media all and (max-width: 768px) {
  .big-screen {
    display: none;
  }

  .small-screen {
    display: inline;
  }

  .youtube-iframe {
    width: 85vw;
    height: 48vw;
  }

  .youtube-iframe-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .profile-user-details {
    position: relative;
    top: -30px;
    word-wrap: break-word;
    white-space: normal;
  }

  #profile-entity-picture {
    position: absolute;
    height: 100px;
    width: 100px;
    top: -10px;
    bottom: 0;
    left: 20px;
    right: 0;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
    box-shadow: 0 0 10px #000;
    z-index: 10;
    border: 5px solid white;
  }

}

@media all and (min-width: 768px) {
  .big-screen {
    display: block;
  }

  .small-screen {
    display: none;
  }

  .youtube-iframe {
    width: 35vw;
    height: 20vw;
  }

  .youtube-iframe-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .profile-user-details {
    position: relative;
    top: -30px;
    padding-left: 5px;
    word-wrap: break-word;
    white-space: normal;
  }

  #profile-entity-picture {
    border: 5px solid white;
    height: 100px;
    width: 100px;
    position: relative;
    top: -50px;
    left: 5px;
    box-shadow: 0 0 10px #000;
    z-index: 10;
    vertical-align: middle;
  }
}

.img-instruction {
  width: 100%;
  margin: 20px 0 20px 0;
}

#profile-header {
  height: 100px;
  position: relative;
  padding-left: 20px;
  display: inline-block;
  margin-top: 15px;
}

.profile-img-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.profile-picture-container {
  white-space: nowrap;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: 1em 0;
}

.message-bubble {
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 5px 0 20px 0;
  padding: 20px;
}




